
@{
    ViewBag.Title = "广告位配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/css/DataSource.css" rel="stylesheet" />
}
<div id="Advertisement">
    <div id="a_top"></div>

</div>
